@font-face {
  font-family: Inter;
  src: url("/public/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #f5f7fa;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: no-drop;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
}

input,
textarea {
  outline: none;
  background: none;
  border: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.big-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fff;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
  max-width: 1200px;
}

a.main-button,
button.main-button:not(:disabled) {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 5px;
  padding: 16px 27px;
  text-transform: capitalize;
  color: #fff;
  background: #00d363;
  border-radius: 4px;
  display: block;
  width: fit-content;
}

.main-button:hover:not(:disabled) {
  box-shadow: 0 0 10px 0px #686868;
}

@import url("./pages/root/Tasks/style.css");

@import url("./pages/job/style.css");